/* Layer styling */
.layer {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  overflow: hidden;
}

/* Layer Title */
.layer-title {
  position: relative;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Text styles */
.text {
    position: absolute;
    font-family: "Inter Tight", sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red);
    text-align: center;
    align-self: center;
    justify-self: center;
    color: var(--pink);
    justify-self: center;
    font-size: clamp(5rem, 5vw, 5rem);
    line-height: 7.5rem;
}

/* Circle images */
.circle-image {
  display: inline-flex;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transition: all 1s ease-in-out;
  opacity: 0;
  border: 1px solid var(--red);
  transform: scale(0);
  margin: 0 clamp(0.2rem, 1vw, 1.2rem);
}

.circle-image.visible {
  width: 85px;
  display: inline-flex;
  height: 85px;
  opacity: 1;
  transform: scale(1);
}

.inline {
    display: inline-flex;
    align-items: center;

    span {
        margin: 0 5px;
    }
} 


@media (max-width:400px){
  .text{
    font-size: clamp(2.6rem, 6vw, 5rem);
  }
}
/* Responsive text */
@media screen and (min-width: 400px) {
  .text {
    font-size: clamp(3.8rem, 8vw, 8rem);
    line-height: 6.5rem;
  }
}

@media screen and (min-width:768px){
    .circle-image.visible {
        width:100px;
        height:100px;
    }
    .layer {
        height:100vh;
    }
    span {
      margin:0 10px;
    }
}

@media screen and (min-width: 1400px) {
  .text {
    width: 72%;
    line-height: 12rem;
    font-size: clamp(8rem, 8vw, 12rem);
  }
  .circle-image.visible {
        width:140px;
        height:140px;
    }
}


