.footer {
  width: 100%;
  background-color: var(--white);
}

.footer-top,
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer-top {
  background-color: var(--red);
  flex-grow: 1; /* Allow this section to grow to match the height of footer-bottom */
  ul {
    padding:0;

    .tag {
      border: 1px solid var(--white);
    }
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  list-style: none;
}

.footer-nav a {
  font-weight: 200;
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: var(--red);
  border: none;
  padding: 5px 10px;
  transition: transform 1s ease-in-out;

  &:hover {
    font-weight: 400;
    background-color: var(--hot);
  }
}

.footer-nav .arrow-icon {
  margin-left: 5px;
}

.footer-bottom {
  background-color: var(--white);
  padding:20px;
  height:8vh;
  flex-grow: 1; /* Allow this section to grow to match the height of footer-top */
}

.design-cred {
  position: relative;
  text-align: center;
}

.design-cred h1 {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 400px) {
  .footer-top {
    padding: 5px;
    flex-wrap: wrap;
  }

  .footer-nav a {
    font-size: 12px;
  }

  .design-cred h1 {
    font-size: 18px;
  }
}

@media screen and (min-width: 968px) {
  .footer-top {
    padding: 10px;
  }

  .footer-nav a {
    font-size: 14px;
  }

  .design-cred h1 {
    font-size: 20px;
  }
}
