.services-style {
    background: linear-gradient(to top, var(--white) 50%, var(--red) 50%);
    height: 100vh;
    width: 100vw;
    position: absolute;

    .title-content {
    display: flex;
    flex-direction: column!important;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    }
    .service-title{
        p {
            position: relative;
            color: var(--black);
            font-weight: 400;
            padding: 20px;
            text-align: justify;
        }
        h3 {
            position: relative;
            padding: 20px;
            text-align: left;
            margin-block: 0;
            font-family: 'cursive';
        }
    }

    .logo{
        color:var(--white);
    }

    .landing-header p {
        color:var(--white);
    }
    .toggle-button{
        border: 1.5px solid var(--white);
    }
}


.small-img{
    position:absolute;
    top:90px;
    right:0;
    border-radius: 200px 0px 0px 200px;
}

.small-img-wrapper{
    position:relative;
    top:0px;
    right:0;

    h3 {
        margin: 0 20px;
    } 
}


.main-page {
    .title-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        max-width: 90vw;
    }  
    .service-title{
        margin-top: 20px;
        margin-bottom: 50px;
    }
}



@media (max-width:668px){
    .service-title{
        p {
            width: 90vw;
            left:50%;
            transform: translate(-50%, -50%);
        }
    } 
}

@media (min-width: 768px){
    .main-page {
    .title-content{
        display: flex;
        align-items: center;
        flex-direction: row;
        max-width: 90vw;
    }  
    .services-style {
        & .service-title {
            h3{
                padding:0 20px;
                font-size: 100px;
            }
            p {
                position: relative;
                color: var(--black);
                font-weight: 400;
                padding: 0 20px;
                text-align: justify;
                margin-block: 0;
                max-width: 40vw;
            }
        }
        
        & .title-content {
            top:38%;
            align-content: flex-start;
            gap:0;
        }
    }
    }
}

@media (min-width:1024px){
    .services-style {
    & .service-title {
        h3{
            padding:0 50px;
            font-size: 110px;
        }
        p {
            position: relative;
            color: var(--black);
            font-weight: 400;
            padding: 0 20px;
            text-align: justify;
            margin-block: 0;
            max-width: 40vw;
        }
    }
}
}

